/* BEGIN Mobile CSS */
/* ---------------------------------------------------------- */
@media screen and (max-width:599px) {

  .navbar {
    background: white;
    box-shadow: 0 0 6px 3px #0000001a;
    /*border-radius: 0 0 10px 10px; */

    /* update 11.7. */
    border-radius: 0;
  }

  /* added 11.7. */
  .navbar ul {
    padding: 10px 0 10px 0;
    background: #f1f1f1;
    border-radius: 20px;
  }

  .ms-auto {
    margin: 10px!important;
  }
  /* end 11.7. */


  .navbar-brand {
    margin: 0px 0px 0px 10px;
    font-weight: 700;
    height: 50px;
    font-size: 36px;
    line-height: 20px;
  }

  .navbar-brand-additional {
    font-size: 13px;
  }


  .nav-link {
    padding: 20px;
    margin: 3px 12px;
    color: black;
  }
  .active-link {
    padding: 20px;
    margin: 3px 12px;
    color: white;
    background: black;
    border-radius:10px;
  }

  .navbar-collapse {
    /* old version */
    /* padding: 10px 0px;
      border-radius:20px;
      background: #F1F1F1;*/

    /* update 11.7. */
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    z-index: 999;
    padding: 0;
    border-radius: 0 0 10px 10px;
    background: #fff;
    flex-basis: unset!important;
    flex-grow: unset!important;
    align-items: unset!important;
  }

  .navbar-toggler {
    font-size: 24px;
    border: solid 0;
    background: #F1F1F1;
    padding: 5px;
    border-radius: 10px;
  }
  .navbar-toggler-icon {
    background-image: url(/assets/svg_files/list.svg);
  }

}
/* ---------------------------------------------------------- */
/* END Mobile CSS */


@media screen and (min-width:600px) {


  .navbar {
    background: white;
    box-shadow: 0 0 6px 3px #0000001a;
    /*border-radius: 0 0 20px 20px; */

    /* update 11.7. */
    border-radius: 0;
  }

  /* added 11.7. */
  .navbar ul {
    padding: 10px 0 10px 0;
    background: #f1f1f1;
    border-radius: 20px;
  }

  .ms-auto {
    margin: 10px!important;
  }
  /* end 11.7. */


  .navbar-brand {
    margin: 0px 0px 0px 10px;
    font-weight: 700;
    height: 50px;
    font-size: 36px;
    line-height: 20px;
  }

  .navbar-brand-additional {
    font-size: 13px;
  }


  .nav-link {
    padding: 20px;
    margin: 3px 12px;
    color: black;
  }
  .active-link {
    padding: 20px;
    margin: 3px 12px;
    color: white;
    background: black;
    border-radius:10px;
  }

  .navbar-collapse {
    /* old version */
     /*padding: 10px 0px;
    border-radius:20px;
    background: #F1F1F1;*/

    /* update 11.7. */
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    z-index: 999;
    padding: 0;
    border-radius: 0 0 10px 10px;
    background: #fff;
    flex-basis: unset!important;
    flex-grow: unset!important;
    align-items: unset!important;
  }

  .navbar-toggler {
    font-size: 24px;
    border: solid 0;
    background: #F1F1F1;
    padding: 5px;
    border-radius: 10px;
  }
  .navbar-toggler-icon {
    background-image: url(/assets/svg_files/list.svg);
  }


}

@media screen and (min-width:992px) {


  .navbar {
    background: white;
    box-shadow: 0 0 6px 3px #0000001a;
    /*border-radius: 0 0 20px 20px; */

    /* update 11.7. */
    border-radius: 0;
  }

  /* added 11.7. */
  .navbar ul {
    padding: 10px 0 10px 0;
    background: #f1f1f1;
    border-radius: 20px;
  }

  .ms-auto {
    margin: 10px!important;
  }
  /* end 11.7. */


  .navbar-brand {
    margin: 0px 0px 0px 10px;
    font-weight: 700;
    height: 50px;
    font-size: 36px;
    line-height: 20px;
  }

  .navbar-brand-additional {
    font-size: 13px;
  }


  .nav-link {
    padding: 20px;
    margin: 3px 12px;
    color: black;
  }
  .active-link {
    padding: 20px;
    margin: 3px 12px;
    color: white;
    background: black;
    border-radius:10px;
  }

  .navbar-collapse {
    /* old version */
     /*padding: 10px 0px;
    border-radius:20px;
    background: #F1F1F1;*/

    /* update 11.7. */
    position: unset;
    top: unset;
    right: unset;
    width: unset;
    z-index: 999;
    padding: unset;
    border-radius: unset;
    background: unset;
    flex-basis: unset!important;
    flex-grow: unset!important;
    align-items: unset!important;
  }

  .navbar-toggler {
    font-size: 24px;
    border: solid 0;
    background: #F1F1F1;
    padding: 5px;
    border-radius: 10px;
  }
  .navbar-toggler-icon {
    background-image: url(/assets/svg_files/list.svg);
  }


}
