<footer class="container-fluid footer">
  <div class="row">
    <div class="col-lg-6 footer-brand">
        <h2>EXMA</h2>
        <p>Exploring Marsa Alam</p>
    </div>
    <div class="footer-column">
      <div class="col-6 col-md footer-content">
          <span class="column-header">SITEMAP</span>
          <ul class="list-unstyled footer-links">
            <li><a routerLink="home">Home</a></li>
            <li><a routerLink="hotels">Hotels</a></li>
            <li><a routerLink="reefs">Reefs</a></li>
            <li><a routerLink="contact">Contact</a></li>
          </ul>
      </div>
      <div class="col-6 col-md footer-content">
          <span class="column-header">TOPICS</span>
          <ul class="list-unstyled footer-links">
            <li><a href="#">Resource</a></li>
            <li><a href="#">Resource name</a></li>
            <li><a href="#">Another resource</a></li>
            <li><a href="#">Final resource</a></li>
          </ul>
      </div>
    </div>
  </div>
  <p class="footer-author-rights"> Michal Pajunk 2022</p>
</footer>

