<footer class="container-fluid footer">
  <div class="row">


    <div class="footer-column">
      <div class="footer-brand">
        <h2>EXMA</h2>
        <p>Exploring Marsa Alam</p>
      </div>


      <div class="footer-content">
        <div style="position:relative;">
          <span class="column-header">NAVIGÁCIA</span>
        </div>
          <ul class="list-unstyled footer-links">
            <li><a routerLink="home">Domov</a></li>
            <li><a routerLink="hotels">Hotely</a></li>
            <li><a routerLink="reefs">Pláže</a></li>
            <li><a routerLink="contact">Kontakt</a></li>
          </ul>
      </div>

      <div class="footer-content">
      <div style="position:relative;">
        <span class="column-header">TOPICS</span>
      </div>
          <ul class="list-unstyled footer-links">
            <li><a href="#">Resource</a></li>
            <li><a href="#">Resource name</a></li>
            <li><a href="#">Another resource</a></li>
            <li><a href="#">Final resource</a></li>
          </ul>
      </div>

    </div>

    <div class="footer-bottom-container">
      <div class="break-line"></div>

    <div class="footer-bottom">
      <span>Copyrights</span>
      <p>Michal Pajunk</p>
    </div>
  </div>
  </div>
</footer>
