
<div id="main-static-slider">

    <a href="" id="big_homebanner-slide">
        <img src="{{hotelData[0].hotelImg}}"  alt="">
        <div id="slider_header_holder">
            <p>{{hotelData[0].hotelName}}</p>
            <button>Objavte viac</button>
        </div>
    </a>

    <a href="" class="homebanner-slide">
        <img src="{{hotelData[0].hotelImg}}" alt="">
        <p>{{hotelData[0].hotelName}}</p>
    </a>
    <a href="" class="homebanner-slide">
        <img src="{{hotelData[0].hotelImg}}"  alt="">
        <p>{{hotelData[0].hotelName}}</p>
    </a>
    <a href="" class="homebanner-slide">
        <img src="{{hotelData[0].hotelImg}}"  alt="">
        <p>{{hotelData[0].hotelName}}</p>
    </a>


</div>

