
<div id="main-static-slider">

    <a href="" id="seasonal-slide">
        <img src=""  alt="">
        <div id="slider_header_holder">
            <span></span>
            <p>{{hotelData[0].hotelName}}</p>
            <button></button>
        </div>
    </a>

    <a href="" class="sport-slide">
        <img src="" alt="">
        <button></button>
    </a>
    <a href="" class="sport-slide">
        <img src=""  alt="">
        <button></button>
    </a>
    <a href="" class="sport-slide">
        <img src=""  alt="">
        <button></button>
    </a>

    <a href="" class="sport-slide">
        <img src=""  alt="">
        <button></button>
    </a>

</div>

