/* BEGIN Mobile CSS */
/* ---------------------------------------------------------- */
@media screen and (max-width:599px) {
  .navbar .container-fluid {
    display: flex;
    flex-direction: column;

  }
  .navbar {
    background: rgb(0, 0, 0);
    box-shadow: 0 0 6px 3px #0000000a;

  }
  .navbar-nav {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .navbar-brand {

    color:#FFF;
    font-weight: 700;
    font-size: 16px;
  }

  .navbar-brand-additional {
    font-size: 12px;
  }


  .nav-link {
    width: 100%;
    padding: 5px;
    margin: 5px 0px;
    color: white;
    border-radius: 10px;
    text-align: center;
  }
  .active-link {
    background: #ffffff42;
    padding: 5px;
    border-radius:10px;
  }

  .navbar-toggler {
    font-size: 24px;
    border: solid 0;
    background: #F1F1F1;
    padding: 5px;
    border-radius: 10px;
  }
  .navbar-toggler-icon {
    background-image: url(/assets/svg_files/list.svg);
  }

}
/* ---------------------------------------------------------- */
/* END Mobile CSS */


/* BEGIN Tablet CSS */
/* ---------------------------------------------------------- */

@media screen and (min-width:600px) {


  .navbar {
    background: white;
    box-shadow: 0 0 6px 3px #0000000a;
  }

  .navbar-brand {
    margin: 10px 0 0 5px;
    font-weight: 700;
    height: 50px;
    font-size: 32px;
    line-height: 16px;
  }

  .navbar-brand-additional {
    font-size: 12px;
  }


  .nav-link {
    padding: 20px;
    margin: 5px 0px;
    color: black;
    background: #f1f1f1;
    border-radius: 10px;
  }
  .active-link {
    padding: 20px;
    color: white;
    background: black;
    border-radius:10px;
  }

  .navbar-toggler {
    font-size: 24px;
    border: solid 0;
    background: #F1F1F1;
    padding: 5px;
    border-radius: 10px;
  }
  .navbar-toggler-icon {
    background-image: url(/assets/svg_files/list.svg);
  }

  li.nav-item {
    width: 25%;
    text-align: center;
    margin: 0 5px;
}
  .navbar ul {
        display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
  }

}

/* ---------------------------------------------------------- */
/* END Tablet CSS */

/* BEGIN Desktop CSS */
/* ---------------------------------------------------------- */

@media screen and (min-width:992px) {


  .navbar {

    background: white;
    box-shadow: 0 0 6px 3px #0000000a;
  }
  .navbar>.container-fluid{


    margin: 0 auto;
    max-width: 1000px;
  }
  .navbar-nav {
    padding: 5px;
    border-radius: 20px;
  }

  .navbar-brand {
    margin: 0px 0px 0px 10px;
    font-weight: 700;
    height: 50px;
    font-size: 40px;
    line-height: 20px;
  }

  .navbar-brand-additional {
    font-size: 13px;
  }

  li.nav-item {
    width: unset;
    text-align: unset;
    margin: unset;
}

  .nav-link {
    width: 100px;
    padding: 20px;
    margin: 0px 5px 0px 0px;
    color: black;
    text-align: center;
  }
  .active-link {
    padding: 20px;
    margin: 0px 5px 0px 0px;
    color: white;
    background: black;
    border-radius:10px;
  }

  .navbar-collapse {
    padding: 0px;
    border-radius:20px;
    background: unset;
  }

  .navbar-toggler {
    font-size: 30px;
    border: solid 0;
    background: #F1F1F1;
    padding: 10px;
    border-radius: 20px;
  }
  .navbar-toggler-icon {
    background-image: url(/assets/svg_files/list.svg);
  }


}

/* ---------------------------------------------------------- */
/* END Desktop CSS */
