/* BEGIN Mobile CSS */
/* ---------------------------------------------------------- */
@media screen and (max-width:599px) {
  .navbar .container-fluid {
    display: flex;
    flex-direction: column;

  }
  .navbar {
    background: rgb(0, 0, 0);
    box-shadow: 0 0 6px 3px #0000000a;

  }
  .navbar-nav {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .navbar-brand {

    color:#FFF;
    font-weight: 700;
    font-size: 16px;
  }

  .navbar-brand-additional {
    font-size: 12px;
  }


  .nav-link {
    width: 100%;
    padding: 5px;
    margin: 5px 0px;
    color: white;
    border-radius: 10px;
    text-align: center;
  }
  .active-link {
    background: #ffffff42;
    padding: 5px;
    border-radius:10px;
  }

  .navbar-toggler {
    font-size: 24px;
    border: solid 0;
    background: #F1F1F1;
    padding: 5px;
    border-radius: 10px;
  }
  .navbar-toggler-icon {
    background-image: url(/assets/svg_files/list.svg);
  }

}
/* ---------------------------------------------------------- */
/* END Mobile CSS */


/* BEGIN Tablet CSS */
/* ---------------------------------------------------------- */

@media screen and (min-width:600px) {


  .navbar .container-fluid {
    display: flex;
    flex-direction: column;

  }
  .navbar {
    background: rgb(0, 0, 0);
    box-shadow: 0 0 6px 3px #0000000a;

  }
  .navbar-nav {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .navbar-brand {

    color:#FFF;
    font-weight: 700;
    font-size: 16px;
  }

  .navbar-brand-additional {
    font-size: 12px;
  }


  .nav-link {
    width: 100%;
    padding: 5px;
    margin: 5px 0px;
    color: white;
    border-radius: 10px;
    text-align: center;
  }
  .active-link {
    background: #ffffff42;
    padding: 5px;
    border-radius:10px;
  }

  .navbar-toggler {
    font-size: 24px;
    border: solid 0;
    background: #F1F1F1;
    padding: 5px;
    border-radius: 10px;
  }
  .navbar-toggler-icon {
    background-image: url(/assets/svg_files/list.svg);
  }

}

/* ---------------------------------------------------------- */
/* END Tablet CSS */

/* BEGIN Desktop CSS */
/* ---------------------------------------------------------- */

@media screen and (min-width:992px) {

  .navbar .container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;

  }

  .navbar-brand {
    margin: 0px 0px 0px 10px;
}

}

/* ---------------------------------------------------------- */
/* END Desktop CSS */
