<div *ngFor="let hData of hotelDataV">

  <p> ffff{{ hData }}</p>

  </div>


<!--<div class="hotels-container" >

  <div class="hotel_card" *ngFor="let hData of hotelData">
    <div class="hotel_card_img">
      <img src="{{hData.hotelImg}}">
    </div>
    <div class="hotel_card_text">
      <div class="hotel_name">{{hData.hotelName}}</div>
      <div class="hotel_desc">{{hData.hotelDescription}}</div>
    </div>
    <a [routerLink]="['/hotels', hData.hotelName]">
      <button>Prezrieť</button>
    </a>
  </div>

</div>-->
