<div class="hotels-container" *ngFor="let hd of hotelData">

  <div class="hotel_card">
    <div class="sticker_tip">NÁŠ TIP</div>
    <div class="hotel_card_img">
    <img src="{{hd.hotelImg}}">
  </div>
  <div class="hotel_card_text">
    <div class="hotel_name">{{hotelData.hotelName}}</div>
    <div class="hotel_desc">{{hotelData.hotelDescription}}</div>

  </div>
  <button [routerLink]="['/hotels', hd.id]">zobrazit<i class="bi bi-bag-heart-fill"></i>
  </button>

  </div>

<!--<div class="hotel_card">
    <div class="hotel_card_img">
      <img src="{{hotelData[1].hotelImg}}">
    </div>
    <div class="hotel_card_text">
      <div class="hotel_name">{{hotelData[1].hotelName}}</div>
      <div class="hotel_desc">{{hotelData[1].hotelDescription}}</div>
    </div>
    <a href="">
      <button>Preskúmať</button>
    </a>
  </div>

  <div class="hotel_card">
    <div class="hotel_card_img">
    <img src="{{hotelData[2].hotelImg}}">
  </div>
  <div class="hotel_card_text">
    <div class="hotel_name">{{hotelData[2].hotelName}}</div>
    <div class="hotel_desc">{{hotelData[2].hotelDescription}}</div>
  </div>
  <a href="">
    <button>Preskúmať</button>
  </a>
  </div>

  <div class="hotel_card">
    <div class="hotel_card_img">
    <img src="{{hotelData[3].hotelImg}}">
  </div>
  <div class="hotel_card_text">
    <div class="hotel_name">{{hotelData[3].hotelName}}</div>
    <div class="hotel_desc">{{hotelData[3].hotelDescription}}</div>
  </div>
  <a href="">
  <button>Preskúmať</button>
</a>
</div>-->








  </div>
